# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Prog3\PlotUIDesign\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
